node_modules
coverage
.DS_Store
.nyc_output
.history
.github
.docs
.scripts
.eslintrc.json
.huskyrc.json
.env.example
.prettierrc.json
.prettierignore
.releaserc.json
service-info.yaml
catalog-info.yaml
tsconfig.json
tsconfig-tests.json
.npmrc
scr
test
