node_modules
coverage
.DS_Store
.nyc_output
.history
.idea
.gitlab
.husky
.docs
.scripts
.editorconfig
.eslintrc.js
.huskyrc.json
.env.example
.gitlab-ci.yml
.prettierrc.js
.prettierignore
commitlint.config.js
jest.config.js
.releaserc.json
config-overrides.js
service-info.yaml
tsconfig.json
tsconfig-tests.json
.npmrc
